extends layout

block content
  h1 #{resource.createUser}
  form(action='/admin/createuser.html', method='post', autocomplete='off')
    include csrf
    p #{message}
    p
      div.ui-field-contain
        label(for='username-input') #{resource.userId}
        input(autofocus, id='username-input', type='text', name='username', value='', style='ime-mode:disabled;')
    p
      div.ui-field-contain
        label(for='displayname-input') #{resource.displayName}
        input(id='displayname-input', type='text', name='displayname', value='')
    p
      div.ui-field-contain
        label(for='password-input') #{resource.password}
        input(id='password-input', type='password', name='password', value='')
    p
      div.ui-field-contain
        label(for='admin-input') #{resource.grantAdmin}
        input(id='admin-input', type='checkbox', name='admin', value='')
    p
      div.ui-field-contain
        input.ui-btn.ui-btn-inline(id='createuser-submit', type='submit', value=`${resource.create}`)

  p #{resource.passwordPolicy}
    ul
      li #{resource.passwordPolicy1}
      li #{resource.passwordPolicy2}
      li #{resource.passwordPolicy3}
      li #{resource.passwordPolicy4}
      li #{resource.passwordPolicy5}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
