extends layout

block content
  h1 #{resource.deleteCompleted}
  p #{resource.deleteCompletedMessage}
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') #{resource.backToUserSearch}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
