extends layout

block content
  h1 #{resource.changePasswordOfAUser}
  form(id='editUserForm', action='/admin/edituserpw.html', method='post', autocomplete='off')
    fieldset
      include csrf
      p #{message}
      p
        input(type='hidden', name='username', value=username)
      p
        div.ui-field-contain
          label(for='username-input') #{resource.userId}
          label(id='username-input') #{username}
      p
        div.ui-field-contain
          label(for='displayname-input') #{resource.displayName}
          label(id='displayname-input') #{displayname}
      p
        div.ui-field-contain
          label(for='admin-input') #{resource.authority}
          if (admin)
            label(id='admin-input') #{resource.adminAuthority}
          else
            label(id='admin-input') #{resource.onlyCreateEditKnowledges}
      p
        div.ui-field-contain
          label(for='password-input') #{resource.password}
          input(autofocus, id='password-input', type='password', name='password')
      p
        div.ui-field-contain
          input.ui-btn.ui-btn-inline(id='edituser-submit', name='edituser-submit',type='submit', value=`${resource.save}`)
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuserpw.html') #{resource.backToUserSearch}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
