extends layout-code

block content
  h1 ナレッジ編集確認
  p #{title}
  - var escapeMap = {'&':'&amp;', '\'':'&#39;', '"':'&quot;', '<':'&lt;', '>':'&gt;'};
  p.ui-corner-all !{displaycontent}
  form(id='form1', action='/admin/update.html', method='post')
    include csrf
    p
      input(type='hidden', name='id', value=id) 
    p
      input(type='hidden', name='ktitle', value=title) 
    p
      input(type='hidden', name='content', value=content) 
    p
      input(type='hidden', name='directory', value=directory) 
    p
      input(type='hidden', name='saveToken', value=saveToken) 
    p
      input.ui-btn.ui-btn-inline(type='submit', value='保存')
  p
    button.ui-btn.ui-btn-inline(id='revertButton') 戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
  script.
    (function () {
      $("#form1").on("submit", function onsubmit (event) {
        $(this).off("submit", onsubmit).on("submit", false);
      });
      $('#revertButton').click(function() {
        $("#form1").attr("action","/admin/edit.html?id=" + #{id});
        $('#form1').submit();
      });
    })();
