extends layout

block content
  h1 #{resource.editKnowledge}
  p #{resource.knowledgeNo} #{id}
  form(action='/admin/editconfirm.html', method='post')
    include csrf
    p
      input(type='hidden', name='id', value=id) 
    p
      input(type='hidden', name='directory', value=directory) 
    p
      label #{resource.title}
      input(autofocus, name='ktitle', type='text')&attributes({value: title})
    p
      label #{resource.contents}
      button.ui-btn.ui-btn-inline(type='button', id='h2button') &lt;h2&gt;
      button.ui-btn.ui-btn-inline(type='button', id='h3button') &lt;h3&gt;
      button.ui-btn.ui-btn-inline(type='button', id='bbutton') &lt;b&gt;
      button.ui-btn.ui-btn-inline(type='button', id='ibutton') &lt;i&gt;
      button.ui-btn.ui-btn-inline(type='button', id='ulbutton') &lt;ul&gt;
      button.ui-btn.ui-btn-inline(type='button', id='olbutton') &lt;ol&gt;
      a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href="#popupLink", data-rel="popup", data-transition="pop", data-position-to="window", id='abutton') Link
      a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href="#popupLink_img", data-rel="popup", data-transition="pop", data-position-to="window", id='abutton_img') img
      button.ui-btn.ui-btn-inline(type='button', id='codebutton') &lt;code&gt;
      button.ui-btn.ui-btn-inline(type='button', id='nobutton') no markup
      textarea(name='content') #{content}
    p
      input.ui-btn.ui-btn-inline(type='submit', value=`${resource.save}`)
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
  div.ui-corner-all(id="popupLink", data-role="popup", data-theme="a", data-dismissible="false")
    div(style="padding:10px 20px;")
      h3 #{resource.pleaseEnter}
       label(for="str") #{resource.strings}
       input(name="str", id="str", type="text", value="", data-theme="a")
       label(for="uri") #{resource.uri}
       input(name="uri", id="uri", type='url', value="", data-theme="a")
       a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline(href="#", data-rel="back", id='ainsertbutton') #{resource.insert}
       a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline(href="#", data-rel="back") #{resource.cancel}
  div.ui-corner-all(id="popupLink_img", data-role="popup", data-theme="a")
    a.ui-btn-right(href="#", data-rel="back", data-role="button", data-theme="a", data-icon="delete", data-iconpos="notext") Close
    form(id="uploadimageform")
      div(style="padding:10px 20px;")
        h3 #{resource.pleaseSpecifyImageFileToUpload}
        include csrf
        input(type='hidden', name='directory', value=directory) 
        input(type="file", name="upfile", id="upfile")
        button(type="button", onclick="file_upload()") #{resource.upload}
  div(id="popupUploading", data-role="popup")
    p #{resource.uploading}
  script.
    var uploadfilename = "";
    $('#h2button').click(function() {
      insertTextarea('## ', '');
    })
    $('#h3button').click(function() {
      insertTextarea('### ', '');
    })
    $('#bbutton').click(function() {
      insertTextarea('**', '**');
    })
    $('#ibutton').click(function() {
      insertTextarea('_', '_');
    })
    $('#ulbutton').click(function() {
      insertTextarea2('* ');
    })
    $('#olbutton').click(function() {
      insertTextarea2('1. ');
    })
    $('#abutton').click(function() {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      $('#str').val(range);
    })
    $('#ainsertbutton').click(function() {
      insertTextarea3('[' + $('#str').val() +'](' + $('#uri').val()  + ')');
    })
    $('#codebutton').click(function() {
      insertTextarea('~', '~');
    })
    $('#nobutton').click(function() {
      insertTextarea('{{{', '}}}');
    })
    function insertTextarea(before, after) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      var insertNode = before + range + after;
      textarea.value = beforeNode + insertNode + afterNode;
    }
    function insertTextarea2(pre) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      var insertNode = pre + replaceAll(range, '\n', '\n' + pre);
      textarea.value = beforeNode + insertNode + afterNode;
    }
    function replaceAll(str, before, after) {
      return str.split(before).join(after);
    };
    function insertTextarea3(update) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      textarea.value = beforeNode + update + afterNode;
    }
    function file_upload() {
      var tmparray = $('#upfile').val().split(/\\|\\/);
      uploadfilename = tmparray[tmparray.length - 1];
      $( "#popupLink_img" ).popup( "close" );
      $( "#popupUploading" ).popup( "open" );
      var form = document.forms.namedItem("uploadimageform");
      var formdata = new FormData(form);
      $.ajax({
        url  : "/admin/uploadimage",
        type : "POST",
        data : formdata,
        cache       : false,
        contentType : false,
        processData : false,
        headers: { "X-CSRF-Token" : "!{csrfToken}" },
        dataType    : 'json'
      })
      .done(function(data, textStatus, jqXHR){
        $( "#popupUploading" ).popup( "close" );
        alert("#{resource.uploadedSuccessfully}");
        insertTextarea3('![](/img/' + '!{directory}' + '/' + uploadfilename  + ')');

      })
      .fail(function(jqXHR, textStatus, errorThrown){
        $( "#popupUploading" ).popup( "close" );
        alert("#{resource.failedToUpload}");
      });
    }
