extends layout-code

block content
  h1 #{resource.confirmSave}
  p #{title}
  p.ui-corner-all !{displaycontent}
  form(id='form1', action='/admin/save.html', method='post')
    include csrf
    p
      input(type='hidden', name='ktitle', value=title) 
    p
      input(type='hidden', name='content', value=content) 
    p
      input(type='hidden', name='directory', value=directory) 
    p
      input(type='hidden', name='saveToken', value=saveToken) 
    p
      input.ui-btn.ui-btn-inline(type='submit', value=`${resource.save}`)
  p
    button.ui-btn.ui-btn-inline(id='revertButton') #{resource.back}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.menu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
  script.
    (function () {
      $("form").on("submit", function onsubmit (event) {
        $(this).off("submit", onsubmit).on("submit", false);
      });
      $('#revertButton').click(function() {
        $("#form1").attr("action","/admin/make.html");
        $('#form1').submit();
      });
    })();
