extends layout

block content
  h1 ナレッジ保存確認
  p #{title}
  - var escapeMap = {'&':'&amp;', '\'':'&#39;', '"':'&quot;', '<':'&lt;', '>':'&gt;'};
  p.ui-corner-all !{content.replace(/[&"'<>]/g,function(c){return escapeMap.hasOwnProperty(c)?escapeMap[c]:c}).replace(/\r?\n|\r/g,"<br>")}
  form(action='/admin/save.html', method='post')
    include csrf
    p
      input(type='hidden', name='ktitle', value=title) 
    p
      input(type='hidden', name='content', value=content) 
    p
      input(type='hidden', name='saveToken', value=saveToken) 
    p
      input.ui-btn.ui-btn-inline(type='submit', value='保存')
  p
    a.ui-btn.ui-btn-inline(href='/admin/make.html') 戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html', data-ajax='false') ログアウト
  script.
    (function () {
      $("form").on("submit", function onsubmit (event) {
        $(this).off("submit", onsubmit).on("submit", false);
      });
    })();
