extends layout-code

block content
  p
  h3 #{resource.knowledgeNo} #{id}
  h1 #{title}
  script.
    document.write("<p>" + "#{resource.lastUpdate}" + new Date(Date.parse("#{timestamp}")).toLocaleString() + "</p>")
  p.ui-corner-all !{content}
  p #{resource.author} #{author}
  a.ui-btn.ui-btn-inline.ui-icon-home.ui-btn-icon-left(href='/') #{resource.topPage}
