extends layout

block content
  p
    h2 #{resource.searchResult}
  p #{resource.searchString} #{searchstring}
  if Object.keys(docs).length == 0
    p #{resource.noKnowledges}
  else
    ul.listView(data-role='listview')
      each doc in docs
        li
          a(href=`${doc.id}.html`)
            h3 #{doc.title}
            script.
              document.write("<p style='font-size: 0.8em;'>" + new Date(Date.parse("#{doc.timestamp}")).toLocaleString() + "</p>")
            p(style='font-size: 0.8em;') #{doc.author}
  p
    a.ui-btn.more(href='#', style='display: none') #{resource.more}
  a.ui-btn.ui-btn-inline(href='/') #{resource.topPage}
  script.
    var url = '/searchAjax.json';
    var skipcount = 5;
    var resps = {};
    executeAjax(url, skipcount, '#{searchstring}', handleMoreButton);

    $('.more').click(function(){
      renderNextList(resps);
    });

    function executeAjax(url, skipcount, searchstring, callback){
      jQuery(function($){
        $.ajax({
          url : url,
          type : 'GET',
          dataType : 'json',
          contentType : 'json',
          data : {searchstring: searchstring, skip: skipcount},
          cache : false,
          error : function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("failed ajax");
          },
          success : function(response) {
            resps = JSON.parse(response);
            console.log("succeeded ajax");
            console.log(resps[0]);
            callback(resps);
          }
        });
      });
    }

    function handleMoreButton(responses){
      if (responses.length > 0){
        $('.more').show();
      } else {
        $('.more').hide();
      }
    }

    function renderNextList(resps){
      if (resps.length > 0){
        resps.forEach(resp => {
          $('.listView').append(
            '<li><a href="' + resp.id + '.html">'
            + '<h3>' + resp.title + '</h3>'
            + '<p style="font-size: 0.8em;">' + new Date(Date.parse(resp.timestamp)).toLocaleString() + '</p>'
            + '<p style="font-size: 0.8em;">' + resp.author + '</p>'
            + '</a></li>');
        });
        $('.listView').listview("refresh");
      }
      if (resps.length < 5){
        $('.more').remove();
      } else {
          skipcount += 5;
          executeAjax(url, skipcount, handleMoreButton);
      }
    }
